<meta charset='UTF-8'>
<title>DnD Online</title>

<link rel="stylesheet" href="/stylesheets/custom.css" />

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
